.pagination-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.4rem;
    width: 26.2rem;
    padding: 1.4rem;
    justify-content: center;
    border: 0.1rem solid rgb(204, 201, 201);
    background-color: #FFFFFF;

}

.pagination-container.dark {
    color: #FFFFFF;
    border: 0.1rem solid #1e272e;
    background-color: #2C3A47;
}

.pagination-button{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    padding: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    background-color: white;
    border: 0.1rem solid #d5d5d5;
    border-radius: 0.1rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.pagination-button:hover{
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 0.1rem;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    cursor: pointer;
    color: #FFFFFF;
}

.pagination-button.active{
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 0.1rem;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    cursor: pointer;
    color: #FFFFFF;
}

.pagination-button.dark{
    color: #000;
    background-color: #b6c0cf;
    border: 1px solid #b6c0cf;
    box-shadow: 0 0.1rem 0.2rem #525968;
}

.pagination-button.dark.active{
    color: #FFFFFF;
    background-color: #464f65;
    border: 1px solid #464f65;
    box-shadow: 0 0.1rem 0.2rem #525968;
}