.empty-result-container {
    display: flex;
    flex-direction: column;
    height: 55rem;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.empty-result-text {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    gap: 1rem;
    text-align: center;
}

.empty-result-img{
    width: 15rem;
}

.empty-result-img:hover {
    cursor: pointer;
    animation: wiggle 1000ms ease-in-out
}

@keyframes wiggle {
    0% {transform: rotate(5deg);}
    25% {transform: rotate(-5deg);}
    50% {transform: rotate(10deg);}
    75% {transform: rotate(-5deg);}
    100% {transform: rotate(0deg);}
  }