.loader-component{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pokeball-container{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: 0.6rem solid black;
    background-image: linear-gradient(
         #FF4742 5rem,
        white 5rem
    );
    position: relative;
    animation: spinBall 1.5s  infinite;
}

.pokeball-container:hover {
    animation: spinBallOnHover 1.5s infinite;
}

.pokeball-container::after{
    content: '';
    position: absolute;
    width: 10rem;
    height: 1.4rem;
    background-color: black;
    top: 4.5rem;
    left: 0rem;

}

.pokeball-btn{
    width: 3rem;
    height: 3rem;
    background-color: white;
    border: 0.6rem solid black;
    border-radius: 50%;
    position: absolute;
    top: 3.2rem;
    left: 2.9rem;
    z-index: 1;
}

.pokeball-btn::after{
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;
    border: 0.3rem solid black;
    border-radius: 50%;
    background-color: white;
    z-index: 2;
    top: 4px;
    left: 4px;
}

@keyframes spinBallOnHover {
    100% {
        transform: rotate(360deg);
    }
}


@keyframes spinBall {
    40% {
        transform: scale(0.8);
        
    }
}