.item-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 1rem;
    height: 20rem;;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    background-color: white;
    border: 0.1rem solid #d5d5d5;
    border-radius: 0.5rem;

}

.item-container.dark {
    color: #FFFFFF;
    border: 0.1rem solid #1e272e;
    background-color: #2C3A47;
    box-shadow: 0 0.1rem 0.2rem #525968;
}

.poke-img-container{
    display: flex;
    flex-direction: column;

}

.poke-img-container > img {
    display: flex;
    align-self: center;
    max-width: 17rem;
    
}

.name-type-container {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
    margin-bottom: 1.2rem;
    text-align: start;
}

.name-type-container > h3 {
    font-size: 1.3rem;
    margin: 0;
}

.pokemon-type{
    display: flex;
    align-items: center;
}

.pokemon-type > p:last-child {
    margin: 0;
    margin-top: 4px;
}

.pokemon-type > p:first-child{
    margin: 0;
}

.pokemon-type > span{
    margin-right: 5px;
    margin-left: 3px;
}
.flavor-text{
    display: flex;
    line-height: 1.4rem;
    margin-bottom: 1.4rem;
}

.close-btn {
    display: flex;
    align-self: flex-start;
    position: relative;
    width: 32px;
    height: 32px;
    opacity: 0.3;
    border: none; 
    outline: none;
    background: transparent;
    cursor: pointer;
  }
  .close-btn:hover {
    opacity: 1;
  }
  .close-btn:before, .close-btn:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }
  .close-btn:before {
    transform: rotate(45deg);
  }
  .close-btn:after {
    transform: rotate(-45deg);
  }
