.items-list-container{
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding: 1.4rem;
    width: 26.2rem;
    border: 0.1rem solid rgb(204, 201, 201);
    background-color: #FFFFFF;
}