.not-found-page-container{
    display: flex;
    height: 50rem;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}

.not-found-page-container > h2{
    margin: 0
    ;
}