.main-content-section{
    display: flex;
    text-align: center;
    background-color: mintcream;
}

.side-bar-section{
    flex-direction: column;
}

.main-content-section.dark{
    background-color: #1e272e;
}



