.stat-icon{
    width: 1.6rem;
    aspect-ratio: 1;
}

.stat-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.45rem;
}

.stats-container{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}
