.search-row-container{
    display: flex;
    align-items: center;
    
}

.search-row-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 19rem;
    gap: 1.2rem;
    font-size: 1.5rem;
    padding: 0.5rem;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    background-color: white;
    border: 0.1rem solid #d5d5d5;
    border-radius: 0.3rem;
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

.search-row-content.active{
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    cursor: pointer;
    color: #FFFFFF;
}

.search-row-content:hover{
    background-color: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: 0 0.1rem 0.2rem #e1e1e1;
    cursor: pointer;
    color: #FFFFFF;
}
.search-row-container > p {
    margin: 0;
}

.small-poke-img {
    display: inline;
    width: 3rem;
}